.DS_Store
node_modules/
dist/
info/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log

*.zip
releases/


tests/**/coverage/
tests/e2e/reports
selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.local

package-lock.json
yarn.lock

.browser-data
.cookies.json
.headers.json
.site.json